* {
    margin: 0;
    padding: 0;
}

.Landing{
    width: 100vw;
    min-height: max-content;
    max-width: 100%;
    background-image: url('../../polaroid.png');
    position: relative;
    
    text-align: center;
}

